.jobcard{
    padding: 18px;
    border: 1.5px solid #0000001c;
    display: flex;
    flex-direction: column;

    border-radius: 5px;
     width: 33%;
     margin-top:40px;
    max-width: 414px;
    box-sizing: border-box;
}
.jobtags{
    widows: 90%;
    display: flex;

}

.jobcard{
    cursor: pointer;
}
.jobtag>p{margin-bottom: 0px;}
.jobtag{
    background-color: #f3f3f3;
    border-radius: 30px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 11px;
    font-weight: 400;
    padding-inline: 13px;
    color: #9B9B9B;


}
.status{
    color: #3D69CB;
    background-color: #eff4ff;
    padding-inline: 15px;
    display: flex;
    height: 26px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 13px;
    
}
.job-share>p{
        color: #9B9B9B;
          font-size: 11px;
    font-weight: 400;
}
.job-share>button>img{
    width: 20px;
}
.job-share>button{
    border-radius: 5px;
    border: none;
    background-color: #3D69CB;
    height: 42px;
    width: 42px;


}
.job-share{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;

}
.jobcard>p{
    margin-top: 20px;
    font-size: 11px;
    color: #9B9B9B;
    font-weight: 400;
}
.jobtop{
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin-bottom: 24px;


}
.job-info{
    flex: 1;
    margin-left: 20px;
}
.job-info>h4{
    font-size: 13px;
    font-weight: 700;
    color: #1c1c1c;
    
}
.job-info>p>img{
    width: 14px;
}
.job-info>p{
    font-size: 13px;
    font-weight: 400;
    color: #9B9B9B;
    
}
.jobtop>img{
    width: 45px;
    height: 45px;

}


/* Extra small devices (phones) */
@media (max-width: 750px) {

.jobcard{
    width: 100%;
}


}