


@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@200;400;500;600;700;800&family=DM+Sans:wght@100;400;500;600;700&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
 
      margin: auto;


}*{
  
  margin: 0;
  padding: 0;
   font-family: "DM Sans", sans-serif;
 
}
.clr{
        cursor: pointer;
    color: #3d69cb;
    background-color: #ffffff;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    height: 33px;
    margin-right: 10px;
    font-weight: 400;
    padding-inline: 12px;
    font-size: 12px;
    display: flex
;
}
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
  outline: none;
}
.hideondes{
  display: none!important;
}
.hideonmob{
  display: block;
}
.seemore{
  float: right;
  cursor: pointer;
  margin-top: 20px;
  
color: #fff;
background-color: #3d69cb;
border-radius: 5px;
justify-content: center;
align-items: center;
width: 136px;
height: 51px;
font-size: 16px;
font-weight: 700;
display: flex;
box-shadow: 0 13px 26px #3d69cb47;
font-family: DM Sans, sans-serif !important;
}
*:focus{
  outline: none;
}
button{
  cursor: pointer;
}
.seemore>img{

  margin-left: 10px;
}
.mainpage{
  width: 90%;
  margin-inline: auto;
  max-width: 1300px;
}
.mainpage>h4{
        font-family: "Bricolage Grotesque", sans-serif!important;
font-weight:500;
font-size: 48px;
width: 100%;
text-align: center;
margin-top: 120px;
margin-bottom: 60px;
}
.mainpage>h5{
        font-family: "Bricolage Grotesque", sans-serif!important;
font-weight:500;
font-size: 48px;
width: 100%;
margin-top: 120px;
margin-bottom: 60px;
}
.services{
  display: flex;
justify-content: space-between;
}
.blogs{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: space-between;

}
.service>img{
  width: 74px;
  height: 74px;
  margin-top: 31px;
  margin-bottom: 25px;

}
.service>p{
  color: #212121;
  font-size: 20px;
    font-weight: 500;


}
.jobs{
  display: flex;

}
.service>h4{
  color: #2B2B2B;
  font-size: 16px;
  margin-top: 18px;
    width: 95%;
    text-align: center;
margin-bottom: 30px;
  font-weight: 400;
}
.service{
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #3D69CB;
  border-radius: 10px;
}
.selected-tag{
  height: 33px;
  padding-inline: 12px;
  border-radius: 8px;
  background-color: #F5F5F5;
  font-size: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  color: #1C1C1C;
  margin-right: 10px;
}
.pagenum{
  height: 36px;
  width: 31px;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  margin-right: 6px;
  align-items: center;
  color: #1C1C1C;background-color: white;
  justify-content: center;
  border: 1px solid #00000020;


}
.pagenum2{
  height: 36px;
  width: 31px;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  margin-right: 6px;
  align-items: center;
  color: white;background-color: #3D69CB;
  justify-content: center;
  border: 0px solid #3D69CB;

  
}
a{
  text-decoration: none;
}
.selected-tag>a>img{
  margin-left: 10px;

}
.pagination{
  width: 100%;
  margin-top: 20px;align-items: center;
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;


}.mainpage{
min-height: calc(100vh - 101px - 359px);}
.jobs{
  width: 100%;
  justify-content: start;
  gap: 2%;
  display: flex;
  flex-wrap: wrap;

}
.filter-tags{
  width: 100%;
  display: flex;

}
.ins-card{
width: 32%;
box-sizing: border-box;
padding: 27px;
display: flex;
border-radius: 10px;
border: 2px solid #F5F5F5;
}
.ins-info{
flex: 1;
  
}

.ins-info>h4{
  
  font-size: 20px;
  font-weight: 600;
  color: #212121;
}
.ins-info>p{
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;

  color: #212121;
}
.instruc{
  width: 100%;
  display: flex;

  justify-content: space-between;
}
.ins-card>img{
  width: 40px;
  height: 40px;
}
.bl-high{
  color: #3D69CB;
}
.breadcrumb{
  margin-top: 80px;
}
.nomar{
  margin-top: 0px!important;
}
.breadcrumb>a{
  color: #3D69CB!important;
  font-size: 20px;
  font-weight: 600;
}

/* Extra small devices (phones) */
@media (max-width: 750px) {


.mainpage>h5{
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
}
.selected-tag{
  margin-bottom: 10px;
}
.filter-tags{
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}
.mainpage>h4{
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.services{
  flex-direction: column;
  align-items: center;
}
.service{
  width: 90%;
  margin-top: 20px;
  box-sizing: border-box;
}
.jobs{
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  
}
.instruc{
  flex-direction: column;
}
.mr{
  margin-left: 10px;
}
.hideonmob{
  
  display: none!important;
}
.hideondes{

  display: flex!important;
}
.ins-info{
  width: 70%;
}

.ins-card{
  margin-top: 20px;
  width: 100%;
}
.blogs{
  flex-direction: column;
}
.ins-info>h4{
  font-size: 14px;
  
}
.ins-info>p{
  font-size: 12px;
  
}
}